.inscription{
   margin-top: 112px; 
   margin-bottom: 30px; 
   margin-left: 25%;
}
.btn.btn-primary.btn-block.btn-grey{
    background: #8a8888;
    margin-bottom: 5px
}

.inscription .form-control{
    background: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #F78536;
}

.tabulation .form-control{
    background: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #F78536;
}

@media(max-width:882px){
    .inscription{
   margin-top: 112px; 
   margin-bottom: 30px; 
   margin-left: 0%;
}

.tab-content .btn {
    margin-bottom: 5px;
}
}

@media screen and (max-width: 480px){
.tabulation label {
    width: 100%;
}}

@media screen and (max-width: 480px){
.tabulation input[type="text"] {
    width: 100%;
    float: right;
}}

@media screen and (max-width: 768px)
{.feature-full-1col .image {
    height: 100%;
}}

