.inscription{
   margin-top: 112px; 
   margin-bottom: 30px; 
   margin-left: 25%;
}
.btn.btn-primary.btn-block.btn-grey{
    background: #8a8888
}

@media(max-width:882px){
    .inscription{
   margin-top: 112px; 
   margin-bottom: 30px; 
   margin-left: 0%;
}
}

