#lila-price-tag-left{
    width: 20%;
    float: left;
    padding: 5px;
}
#lila-price-tag-right{
  width: 80%;
  font-size: 1em;
  padding: 5px;
}
#price-box{
    height: 80px;
}
#box{
    margin-bottom: 0px;
}
#headingSection{
    margin-bottom: 15px;
    padding-bottom: 0px;
}
#tour-cart-btn{
    margin-top: 10px;    
}
#image-rounded-comment{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding-bottom: 4px;
}
.info{
    height: 40px;
    margin-right: 10px;
    border-right: solid 2px #F78536;
}
.name-comment{
    margin-top: 1em
}
#map{
    width: 100%;
    height: 500px;
}
#delcd-blog-section{
    padding-top: 2em !important;
}
#carousel-details{
    height:400px;
}
#categorie{
    background:#F78536;
    height: 90px;
    margin-bottom: 10px;
}
#categorie>ul{
    list-style-type: none;
}

#categorie>ul>li{
    float: left;
    padding: 20px;
    margin-bottom: 0px;
}

.img-cat{
    border-radius: 50%;
    height: 60px;
    width:60px;
    padding: 5px;
    margin-top:10px;
    border: solid 2px white;
}
.table{
    display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
#nom-cat{
    color: white !important;
}
#categorie>ul>li>div{
    margin: auto;
    text-align: center;
}
#charger-img{
    margin-left:15px;
}
#titre-cat{
    margin-bottom: 0px;
}
#upload{
    border-radius: 10%;
    height: 60px;
    width:60px;
    margin: auto;
}
.upload-div{
    text-align: center;
    margin-bottom: 10px;
}

#selected-cat{
    height: 80px;
    width:80px;
    padding: 0px;
    border-color:#333;
}
#nom-cat-selected{
    color: #333;
}
.btn-prgme{
    color: #2fa4ca;
}
#download-prgme{
    width: 100%;
    text-align: center;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: rgb(255, 187, 0);  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: rgb(255, 216, 133);  } 

#maps{
    margin-left: 4px;
    margin-right: 4px;
}
#maps>iframe{
    width: 100%;
    height: 400px;
}

#categorie>ul>li>div>a:hover img{
    transform: scale(1.2);
}
.selectedCat img{
    transform: scale(1.2);
    border-width: 4px;
    background: #007780;
}

.form-group input[placeholder="Etat/ ville"]{
    height: 38px !important
}

#formulaireAjout .form-group{
    margin-bottom: 5px;
}
#successAdd{
    position: fixed;
    bottom: 5px;
    right:5px;
    display: none;
    width: 350px;
    z-index: 500;
}
#failAdd{
    position: fixed;
    bottom: 5px;
    right:5px;
    display: none;
    width: 500px;
    z-index: 500;
}


.fileContainer [type=file] {
    cursor: inherit;
    filter: alpha(opacity=0);
    min-height: 100%;
    width: 68px;
    opacity: 0;
    position: absolute;
    text-align: right;
    top: 0;
}

.fileContainer,.pdfContainer{
    cursor: pointer;
}
.fileContainer{
    background-color: rgba(94, 92, 92, 0.322);
    padding: 17px;
    border: dashed 2px white;
}
.fileContainer img{
    height: 40px;
    width: 40px;
}
.fileContainer:hover img{
    content:url("../../images/icon/add.png");
}
.fileContainer:hover{
    background-color:#F78536;
}
.pdfContainer{
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: rgb(94, 92, 92);
    border-radius: 10%;
}
.pdfContainer:hover{
    background-color: #F78536;
}
div.pdfContainer [type=file]{
    cursor: inherit;
    filter: alpha(opacity=0);
    height: 60px;
    width: 60px;
    opacity: 0;
    position: relative;
    text-align: right;
    top: -60px;
}

.error
{
 border:1px solid red !important;
}